p{
    color:white;
}
title{
    color:green;
}
background{
    color:blue;
}
html{
    background-image: -webkit-linear-gradient (270deg,rgb(65,105,225) 0%,rgb(0,0,255) 100% );
    background-image: linear-gradient(270deg,rgb(8,0,102) 0%,rgb(22,165,255) 100% );

}